body{
 background: linear-gradient(to right,rgb(0, 225, 255),rgb(76, 0, 255));
}
.continer{
  display: flex;
 background: linear-gradient(to right,rgb(0, 4, 255),rgb(0, 225, 255));
 border-radius: 15px;
margin-left:  100px;
margin-right: 100px;
font-size: 30px;
justify-content: space-between;
}
.continer2{ 
  display: flex;
background: linear-gradient(to right,rgb(0, 238, 255),rgb(25, 0, 255));
 justify-content:space-between;
 border-radius: 15px;
 margin-right: 150px;
 margin-left: 150px;
 margin-top: 15px;  
 font-size: 30px;
}
img{
height: 200px;
width:220px;
 border-radius: 100%;
}
.box{
  background-color: indigo;
}