body{
    background-color: darkred;
}
.box2{
    display: flex;
    margin-top: 15px;
    gap: 15px;
}

.container2{
    width: 16rem;
    height: 360px;
    border-radius: 15px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
    background-color: rgb(140, 0, 255);
    overflow: hidden;
    text-align: center;
}
.container img{
    width: 100%;
    display: block
}


         .btn-grad {background-image: linear-gradient(to right, #870000 0%, #190A05  51%, #870000  100%)}
         .btn-grad {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
            margin: auto;

          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
         
