body{
    font-family: 'MedievalSharp', cursive;
    background-image: url("img/eldenring.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
a{
    text-decoration: none;
    color: none;
    color: rgb(255, 0, 0);
}
.container{
    display: flex;
}
.box{
    background-color: rgb(85, 11, 0);
    padding: 50px;
    border-radius: 15px;
    margin-right: 200px;
    margin-left: 200px;
    text-align: center;
    font-size: 45px;
      
}
.posisi{
    display: flex;
    justify-content: center;
    gap: 90px;
}
.imgContainer{
    background: linear-gradient(to right, #b20000, #3e0000);
    height: 90px;
    width: 90px;
    border-radius: 100%;
    overflow: hidden;
    
}
.imgContainer img {
    height: 100%;
    width: auto;
    object-fit: cover;
}
.box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    background-color: rgb(150, 0, 0);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
    gap: 15px;
    width: 18rem;
    height: auto;
    border-radius: 15px;
}

.container3{
    width: 16rem;
    height: auto;
    
    overflow: hidden;
    text-align: center;
}

.container3 img{
    width: 100%;
    height: 200px;
    object-fit: cover; 
    display: block;
}

.card-body {
    padding: 15px;

}


         .btn-grad {background-image: linear-gradient(to right, #8E0E00 0%, #1F1C18  51%, #8E0E00  100%)}
         .btn-grad {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }

.productContainer{
    display: flex;
    justify-content: space-around;
}

.iklan {
    display: flex;
    justify-content: center;  
    align-items: center;
    gap: 1.5rem;  
    margin-top: 15px;  
    margin-bottom: 15px;           
}

.iklanContainer {
    width: 40rem;            
    aspect-ratio: 16 / 9;       
    overflow: hidden;            
    border-radius: 10px;
}

.iklanContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;       
    display: block;
}



         